<div class="contents row">
  <div class="container">
    <%= form_for @blog do |f|%>
      <label for="first_name">編集</label>
      <input id="hoge" value=<%= @blog.text %> type="text" name="text" placeholder="text" class="validate">
      <input class="blue accent-1 btn" type="submit" value="SENT">
    <% end %>
  </div>
</div>
